In [1]:
from cobra import Model,Reaction,Metabolite
model = Model('Task_1')

# first reaction from A to B  A -----> B
Reaction_1 = Reaction('Reaction_1')
Reaction_1.name='Reaction_1'
Reaction_1.lower_bound=0
Reaction_1.upper_bound=1000

# second reaction from B to C  B -----> C
Reaction_2 = Reaction('Reaction_2')
Reaction_2.name='Reaction_2'
Reaction_2.lower_bound=0
Reaction_2.upper_bound=1000

# Reaction_3 : ATP -----> 
Reaction_3=Reaction('Reaction_3')
Reaction_3.name='Reaction_3'
Reaction_3.lower_bound=.9
Reaction_3.upper_bound=.9

# Reaction_4 : ATP -----> 
Reaction_4=Reaction('Reaction_4')
Reaction_4.name='Reaction_4'
Reaction_4.lower_bound=0
Reaction_4.upper_bound=1000

# Reaction_0 : -----> A
Reaction_0=Reaction('Reaction_0')
Reaction_0.name='Reaction_0'
Reaction_0.lower_bound=1
Reaction_0.upper_bound=1

# M : -----> C
M=Reaction('M')
M.name='M'
M.lower_bound=0
M.upper_bound=1000

#ATP_Reaction : A -----> ATP
ATP_Reaction=Reaction('ATP_Reaction')
ATP_Reaction.name='ATP_Reaction'
ATP_Reaction.lower_bound=0
ATP_Reaction.upper_bound=1000


A= Metabolite('A',compartment='c')
B=Metabolite('B',compartment='c')
C= Metabolite('C',compartment='c')
ATP= Metabolite('ATP',compartment='c')


# Add metabolites in Reaction_1 : A -----> B 
Reaction_1.add_metabolites({A:-1,B:1})

# Add metabolites in Reaction_2 : B -----> C 
Reaction_2.add_metabolites({B:-1,C:1})

# Add metabolites in Reaction_3 : A -----> ATP 
Reaction_3.add_metabolites({A:-1,ATP:1})

# Add metabolites in Reaction_4 : ATP ------> 
Reaction_4.add_metabolites({ATP:-1})

# Add metabolites in Reaction_0 : -----> A 
Reaction_0.add_metabolites({A:1})

# Add metabolites in M : C -----> 
M.add_metabolites({C:-1})

model.add_reactions([Reaction_0,Reaction_1,Reaction_2,Reaction_3,Reaction_4,M])

# make M as an objective function 
model.objective='M'

In [2]:
model.optimize()

In [3]:
model.summary()